# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
.vite

# IDE
.idea
.vscode

# Environment files
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Prototype reference
prototype_reference

# Git
.git
